a{
    text-decoration: none;
    color: #3b6388;
}

header{
	background-color: rgb(56, 56, 56);
}

html{
	background-image: url("images/background.jpg");
}

nav{
	box-shadow: 0px 1px black;
	display: inline-block;
}

body{
	color: white;
}

nav.menu-nav ul{
	
	list-style-type: none;
	font-family: "Lucida Console", "Courier New", monospace;
}

nav.menu-nav{
	position: absolute;
	top:100px;
    left:100px;
    width:500px;
    height:500px;
}

nav.menu-nav ul li h1.title{
	color: #63b3db;
	box-shadow: 0px 2px black;
	text-decoration: none;
	
}


nav.menu-nav ul li.btn{
	display: flex;
	flex-direction: column;
	text-align: center;
	list-style-type: none;
	margin-left: -40px;
	
}


nav.menu-nav ul li.btn a{
	text-decoration: none;
	
	font-size: 19px;
	padding: 10px;
	margin: 10px;
}

nav.menu-nav ul li.btn:hover a{
	background-color: transparent;
	color: #47b8d4;
	transition: 0.5s all;
	border: 1px #47b8d4 solid;
	border-radius: 10px;
}


div.image img.panneau{
	margin-left: 200px;
	opacity: 1;
	
}


div.line{
	size: 700px, 1px;
}


nav.menu-wel{
		width: 100%;
		
}

nav.menu-wel ul li{
	list-style-type: none;
	width: 100%;
	
}

nav.menu-wel ul li div.image{
	align-items: center;
	
}


nav.menu-wel ul li.text{
	text-decoration: none;
	list-style-type: none;
	margin-left: 200px;
	vertical-align: top;

}


nav.menu-wel ul li p{
	margin-left: 400px;
	font-size: 40px;
	background-color: #3b6388;
	text-indent: 40px;
	padding: 20px;
}


.article{
	width: 72%;
}


p.para{
	font-size:50px;
	font-weight: bold;
}

.imgArticle{
	width: 30%;
	height: 30%;
}

footer{
	background-color:  white;
	float: right;
	font-size: 18px;
	color: rgba(54, 54, 54, 0.5);
	margin-top: 50%;
}

div#content{
	background-color: white;
	padding: 5%;
}


div#content div{
	
	margin-left: 30%;	
	width: 30%;
}

div#content a{
	list-style-type: none;
	text-decoration: none;
	color: #63b3db;	
}


div#content div.leftBox{
	background-color: white;

}


.entoureArticle{
	background-color: rgba(1, 1, 1, 0.3);
}

div#content div.leftBox ul li{
	font-size: 25px;
	color: #595a5b;
	padding: 20px;
}




div#content div.RIGHTBox{
	background-color: white;
}

div#content div.RIGHTBox ul li{
	font-size: 25px;
	color: #5b5a59;
	padding: 20px;
}



div#content div.equipBox{
	background-color: white;
}

div#content div.equipBox ul li{
	font-size: 25px;
	color: #5b5a59;
	padding: 20px;
}


div#content div h1.PP{
	color:#63b3db;
}

div#content div h1.DTR{
	color:#63b3db;
}

div#content div h1.equip{
	color: #63b3db;
}

div#content div h1, p, img{
	margin: 20px;
}

.menu-nav{
	flex-direction: column;
	width: 20%;
	background-image: url("images/darktree.jpg");
	border-radius: 15px;
	height: 400px;
}

.select{
	color: #47b8d4;
}

.tabart{
	background-color: rgba(1, 1, 1, 0.3);
	width: 70%;
	height: 600px;
	max-width: 70%;
	border: 10px solid black;
	border-radius: 15px;
	display: inline-block;
	margin-right: 5%;
	margin-top: -5%;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: "Lucida Console", "Courier New", monospace;
	color: skyblue;
	margin-left: 2%;
	margin-right: 10%;

}

.logo{
	text-align: center;
	background-color: rgba(1, 1, 1, 0.3);
}