/* @font-face{
	font-family: "BraxtonDemo-Regular";
	src: url(font/BraxtonDemo-Regular.otf) format('truetype');
	font-weight: normal;
	font-style: normal;
} */

header{
	background-color: rgb(51, 51, 51);
}

html{
	background-color: #1f1f1f;
}

nav{
	box-shadow: 0px 1px black;
	
}



nav.menu-nav ul{
	
	list-style-type: none;
	font-family: 'Righteous', cursive;
}


nav.menu-nav ul li h1.title{
	color: #63b3db;
	box-shadow: 0px 2px black;
	text-decoration: none;
	
}


nav.menu-nav ul li.btn{
	display: flex;
	flex-direction: column;
	text-align: center;
	list-style-type: none;
	margin-left: -40px;
	
}


nav.menu-nav ul li.btn a{
	text-decoration: none;
	
	font-size: 19px;
	padding: 10px;
	margin: 10px;
}

nav.menu-nav ul li.btn:hover a{
	background-color: transparent;
	color: #47b8d4;
	transition: 0.5s all;
	border: 1px #47b8d4 solid;
	border-radius: 10px;
}


div.image img.panneau{
	margin-left: 200px;
	opacity: 1;
	
}


div.line{
	size: 700px, 1px;
}


nav.menu-wel ul{
		background-color:  #000;
		
}

nav.menu-wel ul li{
	list-style-type: none;
	
}

nav.menu-wel ul li div.image{
	align-items: center;
	
}


nav.menu-wel ul li.text{
	text-decoration: none;
	list-style-type: none;
	margin-left: 200px;
	vertical-align: top;

}


nav.menu-wel ul li p{
	margin-left: 400px;
	font-size: 40px;
	background-color: #3b6388;
	text-indent: 40px;
	padding: 20px;
}





p.para{
	font-size:50px;
	font-weight: bold;
}

#ex1{
	background-color: white;
	background-image: url("wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;

}


body{
	background-color: white;
	background-image: url("wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;

}

footer{
	background-color:  white;
	float: right;
	font-size: 18px;
	color: rgba(54, 54, 54, 0.5);
}

div#content{
	background-color: white;
	padding: 5%;
}


div#content div{
	
	margin-left: 30%;	
	width: 30%;
}

div#content a{
	list-style-type: none;
	text-decoration: none;
	color: #63b3db;	
}


div#content div.leftBox{
	background-color: white;

}


div#content div.leftBox:hover{
	transition: 0.5s;
	border: 1px #efefef solid;
	border-radius: 5px;
	background-color: #f0f0f0; 
	
}


div#content div.leftBox ul li{
	font-size: 25px;
	color: #595a5b;
	padding: 20px;
}




div#content div.RIGHTBox{
	/*background-color:#f6f2f1;*/
	background-color: white;
}

div#content div.RIGHTBox ul li{
	font-size: 25px;
	color: #5b5a59;
	padding: 20px;
}

div#content div.RIGHTBox:hover{
	transition: 0.5s;
	border: 1px #efefef solid;
	border-radius: 5px;
	background-color: #f0f0f0; 
}



div#content div.equipBox{
	background-color: white;
}

div#content div.equipBox ul li{
	font-size: 25px;
	color: #5b5a59;
	padding: 20px;
}

div#content div.equipBox:hover{
	transition: 0.5s;
	border: 1px #efefef solid;
	border-radius: 5px;
	background-color: #f0f0f0;
}

div#content div h1.PP{
	color:#63b3db;
}

div#content div h1.DTR{
	color:#63b3db;
}

div#content div h1.equip{
	color: #63b3db;
}

div#content div h1, p, img{
	margin: 20px;
}

.menu-nav{
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-left: 79%;
	margin-top: -5%;
	background-image: url("images/fond.jpg");
	border-radius: 15px;
}

.select{
	color: #47b8d4;
}

/* div#content div.annnonce{
	width: 100px;
	margin: 8px;
} */

/* div#content div.annonce img{
	border-radius: 50%;

} */
